fact_fetch/analysis/resources/AntiVegan_submissions filter=lfs diff=lfs merge=lfs -text
fact_fetch/analysis/resources/AskVegans_submissions filter=lfs diff=lfs merge=lfs -text
fact_fetch/analysis/resources/DebateAVegan_submissions filter=lfs diff=lfs merge=lfs -text
fact_fetch/analysis/resources/carnivore_submissions filter=lfs diff=lfs merge=lfs -text
fact_fetch/analysis/resources/exvegans_submissions filter=lfs diff=lfs merge=lfs -text
fact_fetch/analysis/resources/vegan_submissions filter=lfs diff=lfs merge=lfs -text
fact_fetch/analysis/resources/AnimalRights_submissions filter=lfs diff=lfs merge=lfs -text
fact_fetch/analysis/resources/* !text !filter !merge !diff
*submissions.json !text !filter !merge !diff
*submissions.json filter=lfs diff=lfs merge=lfs -text
*submissions filter=lfs diff=lfs merge=lfs -text
